{{#> layout}}
  {{#*inline "content"}}
    <p class="mb-md">
      Hallo {{receiverName}},
      <br />
      <br />
      wir haben eine Anfrage erhalten, dein Passwort zurückzusetzen.<br />
      Falls du diese Anfrage nicht gesendet hast, kannst du diese Nachricht einfach ignorieren. Andernfalls kannst du dein Passwort zurücksetzen.
    </p>

    <a href="{{href}}" rel="notrack" target="_blank" class="btn">
      Dein Passwort zurücksetzen
    </a>
  {{/inline}}
{{/layout}}