{{#> layout}}
  {{#*inline "content"}}
    <p class="mb-md">
      Hallo {{receiverName}},
      <br />
      <br />
      du wurdest zu einem Unternehmen hinzugefügt.
    </p>

    <a href="{{href}}" rel="notrack" target="_blank" class="btn">
      Unternehmen Dashboard
    </a>
  {{/inline}}
{{/layout}}