{{#> layout}}
  {{#*inline "content"}}
    <p class="mb-md">
      Hallo {{receiverName}},
      <br />
      <br />
      vielen Dank für deine Geduld. Deine Anfrage wurde überprüft und erfolgreiche freigeben. Klicke auf den Button, um das Unternehmensprofil zu erstellen.
    </p>

    <a href="{{href}}" rel="notrack" target="_blank" class="btn">
      Unternehmensprofil erstellen
    </a>
  {{/inline}}
{{/layout}}